  
.footer{
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    font-size: 15px;
}
.footer_fix{
    // height:24px; // Replace with the height your footer should be
    // width: 100%; // Don't change
    // background-image: none;
    // background-repeat: repeat;
    // background-attachment: scroll;
    // background-position: 0% 0%;
    // position: fixed;
    // bottom: 0pt;
    // left: 0pt;
}