<!-- Footer -->
<footer class="page-footer  font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left container">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Toeic247.vn</h5>
        <p>Website thi thử TOEIC online miễn phí có chấm điểm và xem đáp án ngay, kiểm tra trình độ TOEIC chính xác,
          nhanh chóng!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->


        <ul class="list-unstyled">
          <li>
            <a href="#!">Sách luyện TOEIC</a>
          </li>
          <li>
            <a href="#!">TOEIC format mới</a>
          </li>
          <li>
            <a href="#!">Luyện thi TOEIC</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <ul class="list-unstyled">
          <li>
            <a href="#!">Sách luyện TOEIC</a>
          </li>
          <li>
            <a href="#!">TOEIC format mới</a>
          </li>
          <li>
            <a href="#!">Luyện thi TOEIC</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:Thanh Ngân &amp; Thanh Nhân
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->