<footer class="page-footer font-small blue " >


  <div class="container-fluid text-center text-md-left container footer">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase pb-3">Toeic247.vn</h5>
        <p>Website thi thử TOEIC online miễn phí có chấm điểm và xem đáp án ngay, kiểm tra trình độ TOEIC chính xác,
          nhanh chóng!</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->


        <ul class="list-unstyled">
          <li>
            <a style="padding: 2px 0;" href="#!">Sách luyện TOEIC</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Tài liệu TOEIC</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Mẹo thi TOEIC</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Từ vựng TOEIC</a>
          </li>

        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <a style="padding: 2px 0;" href="#!">TOEIC format mới</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Ngữ pháp TOEIC</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Luyện thi TOEIC</a>
          </li>
          <li>
            <a style="padding: 2px 0;" href="#!">Cấu trúc đề thi TOEIC</a>
          </li>

        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="pb-1">Liên hệ</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Số 1, Võ Văn Ngân, Linh Chiểu, Thủ Đức, Thành phố Hồ Chí Minh
            </a>
          </li>
          <li>
            <a style="font-size: 13px; padding-top: 2px; font-family:'open sans', 'helvetica neue', Helvetica, Arial, sans-serif;" href="#!">TOEIC247@gmail.com</a>
          </li>
        </ul>

      </div>
     
    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:Thanh Ngân &amp; Thanh Nhân
  </div>


</footer>