
  
  <footer class="page-footer font-small blue ">

   
    <div class="container-fluid text-center text-md-left container footer">

      <!-- Grid row -->
      <div class="row">
        <div class="col-md-3 mt-md-0 mt-3">
          <h5 class="text-uppercase pb-3">Toeic247.vn</h5>
          <p>Website thi thử TOEIC online miễn phí có chấm điểm và xem đáp án ngay, kiểm tra trình độ TOEIC chính xác,
            nhanh chóng!</p>
         
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->


          <ul class="list-unstyled">
            <li>
              <a href="#!">Sách luyện TOEIC</a>
            </li>
            <li>
              <a href="#!">TOEIC format mới</a>
            </li>
            <li>
              <a href="#!">Luyện thi TOEIC</a>
            </li>

          </ul>

        </div>

        <div class="col-md-3 mb-md-0 mb-3">
        
          <ul class="list-unstyled">
            <li>
              <a href="#!">Sách luyện TOEIC</a>
            </li>
            <li>
              <a href="#!">TOEIC format mới</a>
            </li>
            <li>
              <a href="#!">Luyện thi TOEIC</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
        
          <h5 class="pb-3">Liên hệ</h5>
        </div>
      </div>

    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:Thanh Ngân &amp; Thanh Nhân
    </div>
    

  </footer>

