<div class="top-nav">
    <div class="container">
        <div class="row intro-page">
            <h4 class="sm white bold part-tile">
                <a class="title-bar navbar-brand" routerLink="/">Toeic247</a> <b></b>
            </h4>
            <ul class="top-nav-list nav-item ml-auto">
                <li class="backpage header-b exit">
                    <a class="exit-exam" href="#">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                            </path>
                        </svg>
                        <b>Test List</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>