<div class="top-nav">
    <div class="container">
        <div class="row intro-page">
            <h4 class="sm white bold part-tile">
                <a class="title-bar navbar-brand" routerLink="/">Toeic247</a>
                <b *ngIf="partIntro">{{partName}}</b>
            </h4>
            <ul class="top-nav-list nav-item ml-auto">
                <li class="timer">
                    <a *ngIf="partIntro">
                        <b class="countdown">
                            <countdown *ngIf="counter >0" #countdown [config]="{leftTime: counter}"
                                (event)="onFinished($event)">
                            </countdown>
                        </b>
                    </a>
                </li>
                <li class="end-exam header-b" *ngIf="partIntro">
                    <a class="finish-all" mdbBtn mdbWavesEffect>
                        <b (click)="onSubmit()">Submit</b>
                    </a>
                </li>

                <li class="backpage header-b exit">
                    <a class="exit-exam" (click)="onCancel()" style="background-color: red;">
                        <b>CANCEL</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>