<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="true">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">Toeic247</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link waves-light" mdbWavesEffect>Contact Us</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Test Online<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Full test</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mini test</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Skill test</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Writing test</a>


        </div>
      </li>
    </ul>
    <!-- Links -->
    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2 length" type="text" placeholder="Search">
      </div>
    </form>
    <!--/ Search form -->
    <!-- User -->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <!-- LoggedIn -->
      <li class="nav-item dropdown" dropdown>


        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          <span> {{ isAuthenticated ? currentAccount.username : 'UserName'}}</span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a routerLink="/auth/login" class="dropdown-item waves-light" mdbWavesEffect
            *ngIf="!isAuthenticated">Login</a>
          <a routerLink="/auth/user/profile" class="dropdown-item waves-light" mdbWavesEffect *ngIf="isAuthenticated"
            (click)="onShowProfile()">Profile</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="onLogout()" *ngIf="isAuthenticated">Log Out</a>
          <a routerLink="/auth/register" class="dropdown-item waves-light" mdbWavesEffect
            *ngIf="!isAuthenticated">Register</a>
        </div>
      </li>

    </ul>

    <!-- /User -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->