<div class="list-item-body outline-learn-body ps-container">
   <div class="section-learn-outline" *ngFor="let part of listPart">
      <h5 class="section-title" *ngIf="part.partName===1">LISTENING TEST</h5>
      <h5 class="section-title" *ngIf="part.partName===5">READING TEST</h5>
      <ul class="section-list">
         <li class="o-view active">
            <app-number-question-detail [partName]="part.partName" [start]="part.start" [end]="part.end">
            </app-number-question-detail>
         </li>
      </ul>
   </div>
</div>