<div class="container">
    <div class="row pt-4">
        <!-- link map -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4686676942397!2d106.7702460143709!3d10.851913892270309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527cb0f5a8619%3A0x63a2017705af1f98!2zU8awIHBo4bqhbSBrxKkgdGh14bqtdA!5e0!3m2!1svi!2s!4v1603784668130!5m2!1svi!2s"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
                <strong>Contact us</strong>
            </h5>
        </mdb-card-header>
        
    </mdb-card>
</div>                                                                                                                                                                                                                  