<div class="container">
    <div class="question-content">
        <p class="text-justify">
            <b>Mark your answer on your answer sheet:</b>
        </p>
        <hr>
        <form>
            <div *ngIf="!isFileAudio">
                <div style="display: none;"></div>
                <p>Please refrain from replaying the audio, you can only listen one time when in real exam.</p>
                <p><b>Audio: </b></p>
                <audio controls style="width: 100%;">
                    <source type="audio/mp3" src="{{listQuestion[0].fileAudios[0].file_Audio}}" />
                </audio>
            </div>
            <div *ngIf="!isImage_Scritp">
                <img src="{{listQuestion[0].paragraphs[0].image_Script }}" style="width: 100%">
            </div>
            <div>
                <div *ngFor="let question of listQuestionSort; let questionIndex = index">
                    <div class="answer" id="{{question.id}}">
                        <p><b>{{question.content}}</b></p>
                        <div *ngIf="question.image">
                            <img src="{{question.image}}" alt="{{question.content}}" style="width: 100%">
                        </div>
                        <div class="answer-list form-group">
                            <div *ngFor="let answer of question.anwsers; let i = index">
                                <input type="radio" value="{{answer.id}}" id="{{answer.id}}"
                                    name="{{answer.questionId}}" (change)="handleChanged($event)">
                                <label for="{{answer.id}}">
                                    <i class=" icon icon_radio"></i>
                                    {{answer.content}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="numberQuestion === 196 || numberQuestion===200">
                <button class="mc-btn btn-style-6 " type="submit">Submit</button>
            </div>

            <div *ngIf="numberQuestion !== 196 && numberQuestion!==200">
                <button class="mc-btn btn-style-6" (click)="onNext()">Next</button>
            </div>
        </form>

    </div>
</div>