.question-content {
  padding: 60px 40px 60px 40px;
  min-height: 700px;
  background-color: #fff;
}

.question-content p {
  margin-top: 20px;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.7em;
}

.question-content-wrap .question-content .mc-btn {
  margin-top: 30px;
  margin-right: 6px;
}

.mc-btn {
  font-size: 20px;
  padding: 0 50px;
}

.btn-style-1,
.btn-style-1:focus,
.btn-style-6,
.btn-style-6:focus {
  background-color: #42bf80;
  color: #fff;
  text-transform: uppercase;
}

.mc-btn {
  display: inline-block;
  border: 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Lato, sans-serif;
  height: 40px;
  line-height: 40px !important;
  margin-bottom: 15px;
  text-align: center;

  transition: all 0.3s linear 0s;
}
.question-content p {
  margin-top: 20px;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.7em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
.question-content-wrap .question-content .answer {
  margin-top: 45px;
}

.question-content-wrap .question-content .answer .answer-list {
  margin-top: 25px;
  padding: 0;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.question-content-wrap .question-content .answer .answer-list li {
  overflow: hidden;
  margin-top: 8px;
}

li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.question-content-wrap .question-content .answer .answer-list li input {
  display: none;
}

li {
  color: #666;
}

.question-content-wrap .question-content .answer .answer-list li label {
  font-size: 14px;
  color: #666;
  cursor: pointer;
  line-height: 1.5em;
}

.question-content-wrap .question-content .answer .answer-list li .icon_radio {
  width: 16px;
  height: 16px;
  border: 2px solid #d4d4d4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-top: 1px;
  margin-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon {
  width: auto;
  display: inline-block;
}
i {
  font-style: italic;
}
