<div class="container">
    <div class="question-content">
        <p class="text-justify">
            <b>Mark your answer on your answer sheet:</b>
        </p>
        <hr>

        <form>
            <div style="display: none;"></div>
            <p>Please refrain from replaying the audio, you can only listen one time when in real exam.</p>
            <p><b>Audio: </b></p>
            <audio controls style="width: 100%;">
                <source type="audio/mp3" src="https://toeic24.vn/upload/audio/1579320667/1579321247.mp3" />
            </audio>
            <div *ngFor="let question of listQuestion">
                <app-question-detail [question]="question"></app-question-detail>
            </div>
            <button type="submit" class="mc-btn btn-style-6">Next</button>
        </form>
    </div>
</div>