<div class="container">
    <div class="question-content">
        <p class="text-justify">
            <b>Mark your answer on your answer sheet:</b>
        </p>
        <hr>
        <form>
            <div *ngIf="!isFileAudio">
                <div style="display: none;"></div>
                <p>Please refrain from replaying the audio, you can only listen one time when in real exam.</p>
                <p><b>Audio: </b></p>
                <audio controls style="width: 100%;">
                    <source type="audio/mp3" src="{{listQuestion[0].fileAudios[0].file_Audio}}" />
                </audio>
            </div>
            <div *ngIf="!isImage_Scritp">
                <img src="{{listQuestion[0].paragraphs[0].image_Script }}" alt="1. Select the answer"
                    style="width: 100%">
            </div>
            <div *ngFor="let question of listQuestionSort">
                <app-question-detail [question]="question">
                </app-question-detail>
            </div>
            <button class="mc-btn btn-style-6" (click)="onNext()">Next</button>
        </form>
    </div>
</div>