.question-content {
  padding: 60px 40px 60px 40px;
  min-height: 700px;
  background-color: #fff;
}

.question-content p {
  margin-top: 20px;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.7em;
}

.question-content-wrap .question-content .mc-btn {
  margin-top: 30px;
  margin-right: 6px;
}

.mc-btn {
  font-size: 20px;
  padding: 0 50px;
}

.btn-style-1,
.btn-style-1:focus,
.btn-style-6,
.btn-style-6:focus {
  background-color: #42bf80;
  color: #fff;
  text-transform: uppercase;
}

.mc-btn {
  display: inline-block;
  border: 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Lato, sans-serif;
  height: 40px;
  line-height: 40px !important;
  margin-bottom: 15px;
  text-align: center;

  transition: all 0.3s linear 0s;
}
