<div class="list-body">
    <h5>
        Part {{partName}}: <span *ngIf='partName===1'>Picture Description</span>
        <span *ngIf='partName===2'>Question - Response</span>
        <span *ngIf='partName===3'>Short Conversations</span>
        <span *ngIf='partName===4'> Short Talks</span>
        <span *ngIf='partName===5'>Incomplete Sentences</span>
        <span *ngIf='partName===6'>Incomplete Sentences</span>
        <span *ngIf='partName===7'>Reading Comprehension</span>
        <br>
        <a (click)="onInstruction(partName)" class="text-primary"> Instruction</a>
    </h5>
    <div class="list-q-n" *ngFor="let number of arrayQuestion(end, start)">
        <a href="#" class="btn btn-default question-n">{{ number }}</a>
    </div>
</div>