.list-body {
  text-align: left;
}

.list-body a.btn {
  display: inline-block;
  line-height: 3;
  font-size: 14px;
}

.list-q-n {
  background-color: #ffffff;
  padding: 10px 5px;
  display: inline-block;
}

.question-n {
  //margin-bottom: 0px 0px 10px 0px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.btn-default {
  color: #333 !important;
  background-color: #cccccc !important;
  border-color: #ccc;
}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  box-shadow: none;
  user-select: none;
  margin: auto;
}
a,
button,
input,
select,
textarea {
  outline: 0;
}
