.list-body {
  padding: 10px 7px 10px 7px;
}

.list-body h5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-q-n {
  margin: 5px;
  display: inline;
  text-align: center;
}
.question-n {
  margin-bottom: 10px;
  padding: 4px;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 0;
  text-align: center;
  color: black;
}
.btn-default {
  background-color: #f0f0f0 !important;
}
.btn {
  box-shadow: none;
}

.list-body h5 a {
  display: flex;
}
