<div class="answer" id="{{question.id}}">
    <p><b>{{question.content}}</b></p>
    <div *ngIf="question.image">
        <img src="{{question.image}}" alt="{{question.content}}" style="width: 100%">
    </div>
    <div>
        <ul class="answer-list">
            <li *ngFor="let answer of question.anwsers; let i = index">
                <input type="radio" value="i" (change)="changeSelected($event)">
                <label for="771">
                    <i class="icon icon_radio"></i>
                    {{answer.content}} </label>
            </li>
        </ul>
    </div>
</div>