<div class="answer" id="{{question.id}}">
    <p><b>{{question.content}}</b></p>
    <div *ngIf="question.image">
        <img src="{{question.image}}" alt="1. Select the answer" style="width: 100%">
    </div>
    <ul class="answer-list">
        <li *ngFor="let answer of question.anwsers; let i = index">
            <input type="radio" name="Answers[{{answer.id}}]" [value]="i" id="answers-{{answer.id}}-14276"> <label
                for="771">
                <i class="icon icon_radio"></i>
                {{answer.content}} </label>
        </li>
    </ul>
</div>