<ul class="course-lession-list">
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=21">
            <div class="row gap-20">
                <div class="col-sm-9 col-md-9">
                    <span class="font700">1</span>
                    - Đề số 1 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=22">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">2</span>
                    - Đề số 2 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=23">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">3</span>
                    - Đề số 3 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=24">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">4</span>
                    - Đề số 4 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=25">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">5</span>
                    - Đề số 5 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=26">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">6</span>
                    - Đề số 6 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=27">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">7</span>
                    - Đề số 7 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=28">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">8</span>
                    - Đề số 8 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=29">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">9</span>
                    - Đề số 9 - ETS 2020
                </div>
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="https://toeic24.vn/exam/intro?testId=30">
            <div class="row gap-20">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <span class="font700">10</span>
                    - Đề số 10 - ETS 2020
                </div>
            </div>
        </a>
    </li>
</ul>