.course-lession-item ul.course-lession-list {
  margin: 0;
}

.course-lession-item ul.course-lession-list li {
  border-top: 1px solid #e5e5e5;
  line-height: 1.45;
}

.row.gap-20 {
  margin-right: -10px;
  margin-left: -10px;
}

.course-lession-item ul.course-lession-list li a .course-lession-meta {
  color: #9a9a9a;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 2px;
}