<section class="section pb-70">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-2">
                <div class="section-title">
                    <h2 class="text-center">Tại sao chọn Toeic247.vn?</h2>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-sm-4">
                <div class="icon-featured text-center">
                    <h4>Cập nhật đề TOEIC mới liên tục</h4>
                    <img class="featured-icon" src="assets/image/1.png">
                    <p>Các bộ đề TOEIC quốc tế, ETS... luôn được cập nhật liên tục và thường xuyên.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-featured text-center">
                    <h4>Nâng cao kĩ năng làm bài thi TOEIC</h4>
                    <img class="featured-icon" src="assets/image/2.png">
                    <p>Rèn luyện 2 kỹ năng TOEIC Reading và TOEIC Listening nhanh nhất.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-featured text-center">
                    <h4 >Đề thi TOEIC có đáp án và giải thích</h4>
                    <img class="featured-icon" src="assets/image/3.png">
                    <p>Sau khi làm bài bạn có thể kiểm tra đáp án, giải thích chi tiết từng đáp án.</p>
                </div>
            </div>
        </div>
        <div class="row pb-4 text-center">
            <div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-2">
                <button routerLink="/" mdbBtn type="button" color="success" mdbWavesEffect>THI THỬ NGAY</button>
            </div>
        </div>
        
    </div>
</section>

