.icon-featured {
    text-align: center;
    padding: 10px 30px 30px;
}

.icon-featured h4 {
    padding: 0 20px;
    margin: 0;
}

.featured-icon {
    margin-top: 22px;
    margin-bottom: 22px;
    display: inline;
    width: 50px;
}