.learn-section {
  background-color: #d4d4d4;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  position: relative;
}

.container {
  width: 1000px;
}

.question-content-wrap {
  background-color: #d4d4d4;
}

.col-md-12.exam-content .question-content {
  max-width: 90%;
  margin: 0 auto 0 auto;
}

.intro-content {
  text-align: center;
  padding: 70px 40px 70px 40px !important;
}

.exam-content {
  background-color: #fff;
}

.exam-info p {
  margin-top: 5px !important;
}

.exam-info .total-time-info b {
  font-size: 24px;
  font-weight: 700;
}

.exam-info svg {
  color: #66cc9b;
  margin-right: 15px;
}

.exam-info p b {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
}

.question-content-wrap .question-content .mc-btn {
  margin-top: 30px;
  margin-right: 6px;
}
.btn-start a {
  width: 300px;
  height: 70px;
  padding: 18px 0;
  background: #3abf7c;
  border-radius: 35px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
}

.mc-btn {
  display: inline-block;
  border: 0;
  cursor: pointer;
  font-family: Lato, sans-serif;
  line-height: 40px !important;
  margin-bottom: 15px;
}
.exam-info h4 b {
  color: #3740ff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
