.course-detail-section {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
}

.course-lession-wrapper {
    margin-bottom: -15px;
}

.font700 {
    font-weight: 700!important;
}


.section-title {
    text-align: center;
    font-family: roboto condensed,sans-serif;
    margin: 0 0 52px;
}
